extends layout

block deviceKeys
  h5(class='text-info' style='text-align: center;') HDMI Splitter Remote
  
  div.container.mt-20
    div.row
      div.col-3
        button(class='btn btn-danger btn-remote' data-ircommand='LoungeLG_TV,Key,POWER')
          i.material-icons power_settings_new
      div.col
      div.col-3
        button(class='btn btn-warning btn-remote' data-ircommand='Macro,LoungePower')
          i.material-icons power_settings_new
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,INPUT')
          i.material-icons input

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,1')
          div 1
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,2')
          div 2
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,3')
          div 3

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,4')
          div 4
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,5')
          div 5
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,6')
          div 6

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,7')
          div 7
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,8')
          div 8
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,9')
          div 9

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,LIST')
          i.material-icons list
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,0')
          div 0
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,QVIEW')
          i.material-icons pageview

    div.row.mt-30
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,VOLUP')
          i.material-icons volume_up
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,MUTE')
          i.material-icons volume_off
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,PROGUP')
          i.material-icons add

    div.row
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,VOLDOWN')
          i.material-icons volume_down
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,PROGDOWN')
          i.material-icons remove

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,MENU')
          i.material-icons settings
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,GUIDE')
          i.material-icons web
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,QMENU')
          i.material-icons branding_watermark

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,INFO')
          i.material-icons info
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,BACK')
          i.material-icons keyboard_backspace
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='LoungeLG_TV,Key,EXIT')
          i.material-icons exit_to_app

    div.row
      div.col-3 &nbsp;
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,CURSUP')
          i.material-icons keyboard_arrow_up
      div.col
      div.col-3 &nbsp;

    div.row
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,CURSLEFT')
          i.material-icons keyboard_arrow_left
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,OK')
          i.material-icons done
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,CURSRIGHT')
          i.material-icons keyboard_arrow_right

    div.row
      div.col-3 &nbsp;
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='LoungeLG_TV,Key,CURSDOWN')
          i.material-icons keyboard_arrow_down
      div.col
      div.col-3 &nbsp;

    div.row.mt-30
      div.col-3
        button(class='btn btn-danger btn-remote' data-ircommand='LoungeLG_TV,Key,RED')
          div &nbsp;
      div.col-3
        button(class='btn btn-primary btn-remote' data-ircommand='LoungeLG_TV,Key,BLUE')
          div &nbsp;
      div.col-3
        button(class='btn btn-success btn-remote' data-ircommand='LoungeLG_TV,Key,GREEN')
          div &nbsp;
      div.col-3
        button(class='btn btn-warning btn-remote' data-ircommand='LoungeLG_TV,Key,YELLOW')
          div &nbsp;