extends layout

block deviceKeys
  h5(class='text-info' style='text-align: center;') HDMI Splitter Remote
  
  div.container.mt-20
    div.row
      div.col-3
        button(class='btn btn-danger btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"POWER","count":"1"}')
          i.material-icons power_settings_new
      div.col

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"1","count":"5"}')
          div 1
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"2","count":"5"}')
          div 2
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"3","count":"5"}')
          div 3

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"4","count":"5"}')
          div 4
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"HdmiSplitter","key":"5","count":"5"}')
          div 5
      div.col
      div.col-3 &nbsp;