extends layout

block deviceKeys
  h5(class='text-info' style='text-align: center;') TV Remote
  
  div.container.mt-20
    div.row
      div.col-3
        button(class='btn btn-danger btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"POWER","count":"5"}')
          i.material-icons power_settings_new
      div.col
      div.col-3
        button(class='btn btn-warning btn-remote' data-ircommand='{"type":"macro","key":"LoungePower","count":"1"}')
          i.material-icons power_settings_new
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"INPUT","count":"1"}')
          i.material-icons input

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"1","count":"1"}')
          div 1
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"2","count":"1"}')
          div 2
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"3","count":"1"}')
          div 3

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"4","count":"1"}')
          div 4
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"5","count":"1"}')
          div 5
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"6","count":"1"}')
          div 6

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"7","count":"1"}')
          div 7
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"8","count":"1"}')
          div 8
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"9","count":"1"}')
          div 9

    div.row
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"LIST","count":"1"}')
          i.material-icons list
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"0","count":"1"}')
          div 0
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"QVIEW","count":"1"}')
          i.material-icons pageview

    div.row.mt-30
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"VOLUP","count":"1"}')
          i.material-icons volume_up
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"MUTE","count":"1"}')
          i.material-icons volume_off
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"PROGUP","count":"1"}')
          i.material-icons add

    div.row
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"VOLDOWN","count":"1"}')
          i.material-icons volume_down
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"PROGDOWN","count":"1"}')
          i.material-icons remove

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"MENU","count":"1"}')
          i.material-icons settings
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"GUIDE","count":"1"}')
          i.material-icons web
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"QMENU","count":"1"}')
          i.material-icons branding_watermark

    div.row.mt-30
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"INFO","count":"1"}')
          i.material-icons info
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"BACK","count":"1"}')
          i.material-icons keyboard_backspace
      div.col
      div.col-3
        button(class='btn btn-default btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"EXIT","count":"1"}')
          i.material-icons exit_to_app

    div.row
      div.col-3 &nbsp;
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"CURSUP","count":"1"}')
          i.material-icons keyboard_arrow_up
      div.col
      div.col-3 &nbsp;

    div.row
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"CURSLEFT","count":"1"}')
          i.material-icons keyboard_arrow_left
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"OK","count":"1"}')
          i.material-icons done
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"CURSRIGHT","count":"1"}')
          i.material-icons keyboard_arrow_right

    div.row
      div.col-3 &nbsp;
      div.col
      div.col-3
        button(class='btn btn-info btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"CURSDOWN","count":"1"}')
          i.material-icons keyboard_arrow_down
      div.col
      div.col-3 &nbsp;

    div.row.mt-30
      div.col-3
        button(class='btn btn-danger btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"RED","count":"1"}')
          div &nbsp;
      div.col-3
        button(class='btn btn-primary btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"BLUE","count":"1"}')
          div &nbsp;
      div.col-3
        button(class='btn btn-success btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"GREEN","count":"1"}')
          div &nbsp;
      div.col-3
        button(class='btn btn-warning btn-remote' data-ircommand='{"type":"key","device":"LoungeLG_TV","key":"YELLOW","count":"1"}')
          div &nbsp;